<footer>
    <div class="socials">
        <li><a href="mailto:unlwly@proton.me" target="_blank" rel="noopener noreferrer" class="icon-social"><span class="bi bi-envelope-fill"></span></a></li>
        <li><a href="https://github.com/unlwly" target="_blank" rel="noopener noreferrer" class="icon-social"><span class="bi bi-github"></span></a></li>
        <li><a href="https://www.youtube.com/@unlwly" target="_blank" rel="noopener noreferrer" class="icon-social"><span class="bi bi-youtube"></span></a></li>
        <li><a href="https://open.spotify.com/user/31tz7ppsnrxtosagacw5kzzj4gxu" target="_blank" rel="noopener noreferrer" class="icon-social"><span class="bi bi-spotify"></span></a></li>
        <li><a href="https://ieji.de/@unlwly" target="_blank" rel="me" class="icon-social"><span class="bi bi-mastodon"></span></a></li>
        <li><a href="https://matrix.to/#/@unlwly:matrix.org" target="_blank" rel="noopener noreferrer" class="icon-social"><span class="si si-matrix"></span></a></li>
        <li><a href="https://myanimelist.net/profile/unlwly" target="_blank" rel="noopener noreferrer" class="icon-social"><span class="si si-myanimelist"></span></a></li>
    </div>

    <p>&copy; <span class="year"></span> unlwly. All Rights Reserved.</p>
</footer>
<script>
    document.getElementsByClassName('year')[0].innerHTML = new Date().getFullYear();
</script>