<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="unlwly" />
    <meta name="copyright" content="&copy; unlwly" />
    <meta name="description" content="Product of lunacy." />
    <meta name="URL" content="https://unlwly.github.io" />

    <meta property="og:site_name" content="unlwly.github.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="unlwly : site" />
    <meta property="og:description" content="Product of lunacy" />
    <meta property="og:url" content="https://unlwly.github.io" />
    <meta property="og:image" content="https://unlwly.github.io/assets/img/ico.png" />

    <title>{{ site.title | escape }} : {{ page.title | escape }}</title>
  
    <link rel="shortcut icon" href="/assets/img/ico.png" />
    <link rel="icon" href="/assets/img/ico.png" />
    <link rel="apple-touch-icon" href="/assets/img/ico.png" />
    <link rel="mask-icon" href="/assets/img/ico.png" />

    <meta content="#1E1E1E" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/assets/css/global.css" />
</head>
