<button class="nav-trigger" onclick="document.querySelector('body').classList.toggle('nav-visible');"><span class="bi bi-list"></span></button>

{% if page.title == "Archive" %}
<a class="hdr-extra-btn" href="/search/"><span class="bi bi-search"></span></a>
{% elsif page.layout == "post" or page.title == "Search" %}
<a class="hdr-extra-btn" href="/blog/"><span class="bi bi-chevron-left"></span></a>
{% endif %}
        <nav class="nav">
            <button class="nav-close" onclick="document.querySelector('body').classList.toggle('nav-visible');"><span class="bi bi-x"></span></button>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="https://pixelfed.de/unlwly">Photos</a></li>
                    <li><a href="https://ko-fi.com/unlwly">Ko-fi</a></li>
                    <li><a href="https://discord.gg/ATUuYXV7cn" target="_blank" rel="noopener noreferrer">Discord</a></li>
                </ul>
            </div>
        </nav>