@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://cdn.jsdelivr.net/npm/simple-icons-font@8.3.0/font/simple-icons.min.css');
@import url("/assets/css/iosevka.css");

:root {
    --bg: rgb(247, 247, 247);
    --bg-sta: rgba(247, 247, 247, 0.95);
    --bg-stb: rgba(247, 247, 247, 0.6);
    --bg-ac: rgb(236, 209, 213);
    --ac: rgb(163, 91, 103);
    --ac-d: rgba(112, 58, 67, 0.75);
    --ac-st: rgba(153, 86, 97, 0.75);
    --ac-shadow: rgba(29, 1, 7, 0.65);
    --tx-grad: linear-gradient(90deg,#f07484 3%,#914b54 105%);
    --tx: rgb(36, 36, 37);
    --tx-st: rgba(36, 36, 37, 0.63);
    --tx-muted: rgb(91, 91, 94);
    --tx-ebg: rgba(100, 100, 100, 0.15);
    --tx-ebg-m: rgba(100, 100, 100, 0.35);
}

html {width: 100%;height: 100%;cursor: default;}
body {
    font-family: 'Iosevka', monospace;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1.1em;
    color: var(--tx);
    background-color: var(--bg);
    margin: auto;
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    background: var(--bg-stb);
    backdrop-filter: blur(0.5em);
    padding: 0.5em;
    pointer-events: none;
}

* {
    box-sizing: border-box;
}

footer p, ul {
    margin: 0;
    padding: 0;
}

section {
    padding:1rem;
}

blockquote {
    font-style: italic;
    border-left: 5px solid var(--tx-ebg-m);
    padding-left: 1rem;
    margin: 0;
    background-color: var(--tx-ebg);
}

h1,h2,h3,h4,h5 {
    line-height: 1;
    margin: 1rem 0;
    font-weight: 600;
}

section h1:first-child {
    margin-top: 0;
}

hr {
    background: var(--ac-shadow);
    opacity: 0.3;
    width: 99%;
    height: 1px;
    border: 0;
    margin-bottom: 1.5em;
}

::selection {background: var(--ac-st) !important;}

.center-v {
    transform: translate(0, -50%);
    top: 50%;
    position:absolute;
}
.center-h {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-text {
    text-align: center;
}

.logo{
    font-size: 80pt;
    font-weight: 900;
    text-align: center;
}

.postttl{
    font-size: 50pt;
    font-weight: 900;
}

.si {vertical-align: -.125em;-webkit-font-smoothing: antialiased;display: inline-block;}

.socials {
    list-style-type: none;
    display: inline-flex;
    margin: auto;
    position: relative;
    gap: 1.3rem;
    height: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}
.socials>li>a {
    text-decoration: none;
}
.socials>li {
    height: max-content;
    display: inline-block;
}

.icon-social {
    line-height: 1;
    position: relative;
    font-size: 16pt;
    color: var(--tx);

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.icon-social:hover {
    color: var(--ac);
    text-shadow: 0 0 2px var(--ac-d);
}

.highlight-hover {
    transition: filter .4s ease-in-out;
}
.highlight-hover:hover {
    filter: brightness(200%);
}

.spec-heading {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px var(--tx);
    color: var(--tx);
    margin-bottom: 0.05rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 36pt;
    font-weight: 800;
}

.gradient-txt {
    -webkit-text-fill-color: transparent;
    background: var(--tx-grad);
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    user-select: none;
    text-decoration: none;
}

a {
    color: var(--tx);
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

.post {
    margin-bottom: 3em;
}

.post p {
    margin: 0.5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
    margin: 1rem 0;
}

.meta {
    margin: 0 0 1em 0;
}

code {
    font-family: 'Iosevka', monospace !important;

    background-color: var(--tx-ebg);
}

pre code {
    background: none;
    border: none;
}

pre {
    margin: 0.5rem;
    padding: 1rem;
    overflow-x: auto;
}

.grid {
    column-count: 2;
    column-gap: 1rem;
}

figure {
    display: inline-block;
    margin: 0 0 0 0;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.posts ul,header ul {
    list-style: none;
    margin-top: 1.5em;
}

.posts li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.posts li a, .posts li div, .projects li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.posts li time, .projects li time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
    list-style-position: inside;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: 4rem auto;
    padding: 1rem;
    background-color: var(--bg-ac);
}

@media screen and (min-width: 783px) {
    .nav .nav-close {
        right: initial;
        left: 306px;
    }
    .nav .nav-wrapper {
        right: calc(100% - 308px);
    }
}
@media screen and (max-width: 783px) {
    .nav .nav-close {
        right: 0;
        left: initial;
    }
    .nav .nav-wrapper {
        right: 68px;
    }
}

section {
    flex-basis:0;
    flex-grow:999;
    min-width:70%;
    display:flex;
    flex-direction:column;
}

figcaption {
    font-size: smaller;
}

.bio {
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}
.bio p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.quote {
    opacity: 0.7;
    text-align: center;
    margin-bottom: 1em;
    pointer-events: none;
    user-select: none;
}

.time {
    font-weight: 200;
}

* {scrollbar-color: var(--tx-muted) transparent;}
::-webkit-scrollbar,::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
    background: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--tx-muted);
    -webkit-border-radius: 10em;
}
::-webkit-scrollbar-thumb:active {background: var(--tx);}


.hdr-extra-btn {
    background: none;
    border: none;
    color: var(--tx);
    display: block;
    text-decoration: none;
    font-size: x-large;
    margin: 0.6em 0.75em;
    top: 0;
    right: 0;
    position: absolute;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.nav-trigger {
    background: none;
    border: none;
    color: var(--tx);
    display: block;
    left: 0;
    letter-spacing: .125em;
    outline: none !important;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    top: 1em;
    z-index: 99;
    -webkit-transform:translate(20px, -50%);
    -webkit-transform-origin:left top;
    transform: translate(20px, -50%);
    transform-origin: left top;
    font-size: xx-large;
    text-shadow: 0px 0px 10px var(--bg);
}
.nav {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .5s ease;
    -webkit-transform:translateX(-100%);
    -webkit-transform-origin:left top;
    transform: translateX(-100%);
    transform-origin: left top;
}
.nav .nav-close {
    background: var(--bg-sta);
    border: none;
    border-bottom: 1px solid var(--tx-st);
    border-left: 1px solid var(--bg-stb);
    border-right: 1px solid var(--tx-st);
    color: var(--tx);
    display: block;
    height: 68px;
    font-size: 30px;
    font-weight: 200;
    line-height: 45px;
    outline: none !important;
    padding: 11px 0 19px;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 11;
    transition: all .2s ease-in-out;
}
.nav .nav-close:hover {
    color: var(--ac);
}
.nav .nav-wrapper {
    background: var(--bg-sta);
    border-right:1px solid var(--tx-st);
    bottom:0;
    left:0;
    padding: 4.5em 2em;
    overflow: scroll;
    position: absolute;
    top: 0;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    z-index: 10;
}
.nav-wrapper::-webkit-scrollbar:vertical {width:5px}
.nav-wrapper::-webkit-scrollbar:horizontal {width:0px}
.nav .nav-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav .nav-wrapper ul li {
    margin-bottom: 20px;
    position: relative;
}
.nav .nav-wrapper ul li:first-child {
    color: var(--ac);
}
.nav .nav-wrapper ul li a {
    border-left: 3px solid var(--tx);
    color: var(--tx);
    display: block;
    font-size: 0.95em;
    letter-spacing: .075em;
    padding: 1em 0 1em 1.5em;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all .2s linear;
    letter-spacing: 0.175em;
}
.nav .nav-wrapper ul li a:hover {
    border-color: var(--ac);
    color: var(--ac);
}
.nav .nav-wrapper ul li a:hover {
    color: var(--ac);
}
.nav .nav-wrapper ul li a {
    color: var(--tx);
    display: block;
}
body.nav-visible {
    overflow: hidden;
}
body.nav-visible .nav {
    -webkit-transform:translateX(0);
    -webkit-transform-origin:left top;
    transform: translateX(0);
    transform-origin: left top;
    backdrop-filter: blur(0.5em) brightness(70%);
    -webkit-backdrop-filter: blur(0.5em) brightness(70%);
}