@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://cdn.jsdelivr.net/npm/simple-icons-font@8.3.0/font/simple-icons.min.css');
@import url("/assets/css/iosevka.css");

:root {
    --ac: rgb(156, 34, 54);
    --ac-d: rgba(116, 27, 42, 0.75);
    --ac-st: rgba(156, 34, 54, 0.75);
    --ac-shadow: rgba(29, 1, 7, 0.65);
	--tx-grad: linear-gradient(90deg,#f32e49 3%,#99091c 105%);
	--tx: rgb(36, 36, 37);
    --tx-muted: rgb(91, 91, 94);
}

*,:after,:before {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	font-family: 'Iosevka';
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: 1.1rem;
	color: var(--tx);
	background-color: rgb(250, 250, 250);
}

footer {
	bottom: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	font-size: 0.8rem;
	background: rgba(250, 250, 250, 0.75);
	backdrop-filter: blur(0.5em);
	padding: 0.5em;
}

::selection {background: var(--ac-st) !important;}

.si {vertical-align: -.125em;-webkit-font-smoothing: antialiased;display: inline-block;}

.socials {
    list-style-type: none;
    display: inline-flex;
    margin: auto;
    position: relative;
    gap: 1.3rem;
    height: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}
.socials>li>a {
    text-decoration: none;
}
.socials>li {
    height: max-content;
    display: inline-block;
}

.icon-social {
    line-height: 1;
    position: relative;
    font-size: 16pt;
    color: var(--tx);

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.icon-social:hover {
    color: var(--ac);
    text-shadow: 0 0 2px var(--ac-d);
}

.highlight-hover {
    transition: filter .4s ease-in-out;
}
.highlight-hover:hover {
    filter: brightness(250%);
}

.spec-heading {
	-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px var(--tx);
    color: var(--tx);
    margin-bottom: 0.05rem;
	text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 36pt;
    font-weight: 800;
}

.gradient-txt {
    -webkit-text-fill-color: transparent;
    background: var(--tx-grad);
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
	user-select: none;
	text-decoration: none;
}

nav ul {
    border-right: 1px solid rgb(233, 235, 236);
}

a {
    color: var(--tx);
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

.post p {
	margin: .5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta {
	margin: 2rem 0;
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width:100%;
}

hr {
	background: rgba(0, 0, 0, 0.4);
    height: 1px;
    border: 0;
}

header {
	flex-basis:10rem;
	flex-grow:1;
	position:relative;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: .2rem;
	text-align: right;
	margin-right: 2rem;
}

header a.active {
	font-weight: bold;
}

header,section {
	padding:1rem;
}

blockquote {
	font-style: italic;
    border-left: 5px solid rgb(236, 236, 236);
    padding-left: 1rem;
}

h1,h2,h3,h4,h5 {
	line-height: 1;
	margin: 1rem 0;
	font-weight: 600;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

.posts ul,header ul {
	list-style:none;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
	list-style-position: inside;
}

main {
	display:flex;
	flex-wrap:wrap;
	max-width:60rem;
	margin:2rem auto;
	padding:1rem;
}


@media screen and (max-width: 45rem) {
	header li {
    	display: inline;
		margin-right: 1rem;
	}
	.logo {
		padding-bottom: 1rem;
		text-align: center;
	}
	header ul {
		border-bottom: 1px solid rgb(237, 242, 247);
		padding-bottom: 2rem;	
	}
	nav ul {
    	border-right: 0px;
	}

	.photos ul {
		margin-top: 0.5rem;
	}
}

section {
	flex-basis:0;
	flex-grow:999;
	min-width:70%;
	display:flex;
	flex-direction:column;
	
}

figcaption {
    font-size: smaller;
}

.bio {
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}
.bio p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.quote {
	opacity: 0.7;
	text-align: center;
	margin-bottom: 1em;
	pointer-events: none;
	user-select: none;
}

.time {
    font-weight: 200;
}

* {scrollbar-color: var(--tx-muted) transparent;}
::-webkit-scrollbar,::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
    background: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--tx-muted);
    -webkit-border-radius: 10em;
    box-shadow: inset 0 0 1px 2px rgb(250, 250, 250);
}
::-webkit-scrollbar-thumb:active {background: var(--tx);}