@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://cdn.jsdelivr.net/npm/simple-icons-font@8.3.0/font/simple-icons.min.css');
@import url('iosevka.css');

/* ーーーーーーーーーーーーーーーーーー
palette 
ーーーーーーーーーーーーーーーーーー */

:root {
    --bg: rgb(10, 10, 10);
    --bg-secondary: rgb(29,29,29);
    --bg-tertiary: rgb(44, 44, 44);
    --tx-normal: rgb(238, 243, 235);
    --tx-muted: rgba(235, 241, 232, 0.712);
    --tx-st: rgba(235, 241, 232, 0.26);
    --tx-gradient: linear-gradient(90deg,#f32e49 3%,#99091c 105%);
    --ac: rgb(156, 34, 54);
    --ac-dark: rgb(116, 27, 42);
    --ac-t: rgba(156, 34, 54, 0.726);
    --ac-shadow: rgba(29, 1, 7, 0.651);
}

/* ーーーーーーーーーーーーーーーーーー
main css 
ーーーーーーーーーーーーーーーーーー */

html {width: 100%;height: 100%;}
body {
    font-family: 'Iosevka', monospace;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-size: 14pt;

    background-color: var(--bg);
    color: var(--tx-normal);

    height: 100%;
    margin: auto;
}
h1, p {margin-top: 1rem;margin-bottom: 1rem;}
hr {color: var(--tx-muted);}

.wrapper {
    max-width: 800px;
    margin: auto;
    padding: 3em 1.5em 3em 1.5em;
    border-left: solid 2px var(--tx-st);
    border-right: solid 2px var(--tx-st);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.644);

    min-height: calc(100vh - 6em);
}

::selection {background: var(--ac-t) !important;}

/* ーーーーーーーーーーーーーーーーーー
centered content
ーーーーーーーーーーーーーーーーーー */

.center-v {
    transform: translate(0, -50%);
    top: 50%;
    position:absolute;
}
.center-h {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ーーーーーーーーーーーーーーーーーー
footer// copyright notice
ーーーーーーーーーーーーーーーーーー */

footer {
    font-size: 8pt;
    padding: 1em;
    text-align: center;
    pointer-events: none;
    color: var(--tx-muted);
    letter-spacing: 0.005em;
    
    text-shadow: 0 0 2px rgb(0, 0, 0);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    backdrop-filter: drop-shadow(0px 0px 2px black);
}
.crn {
    position: fixed;
    bottom: 0rem;
    width: 100vw;
    z-index: 500;

    display: grid;
    align-items: center;
    justify-content: center;
}

/* ーーーーーーーーーーーーーーーーーー
scrollbar
ーーーーーーーーーーーーーーーーーー */

* {scrollbar-color: var(--tx-muted) transparent;}
::-webkit-scrollbar,::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
    background: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--tx-muted);
    -webkit-border-radius: 10em;
    box-shadow: inset 0 0 1px 2px rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {background: var(--tx-muted);}
::-webkit-scrollbar-thumb:active {background: var(--tx-st);}

/* ーーーーーーーーーーーーーーーーーー
extra classes
ーーーーーーーーーーーーーーーーーー */

.blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.highlighthover {
    transition: filter .4s ease-in-out;
}
.highlighthover:hover {
    filter: brightness(150%);
}

.bold {font-weight: 700;}
.text-shadow {text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.561);}
.no-pointer {pointer-events: none;}
.no-select {user-select: none;}
.l-cnt {text-align: center;}
.muted {opacity: 0.95;}
.italic {font-style: italic;}

/* ーーーーーーーーーーーーーーーーーー
text styling
ーーーーーーーーーーーーーーーーーー */

.heading {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 36pt;
    font-weight: 600;
}
.heading-special {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px var(--tx-normal);
    color: var(--tx-normal);
    margin-bottom: 0.05rem;
}
.sp-tx {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 600;
    font-size: 20pt;
}
.gradient-text {
    -webkit-text-fill-color: transparent;
    background: var(--tx-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}
.quote-text {
    opacity: 0.9;
    font-size: 13pt;
    font-style: italic;
    margin-bottom: 0.75em;
}

/* ーーーーーーーーーーーーーーーーーー
links
ーーーーーーーーーーーーーーーーーー */

a {
    color: var(--ac); 
    text-decoration: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
a:hover {
    color: var(--ac-dark); 
}

/* ーーーーーーーーーーーーーーーーーー
logo + stuffs
ーーーーーーーーーーーーーーーーーー */

.logo {
    background: url("../logo.svg") center/contain no-repeat;
    height: 7.5em;
    width: 15.5em;
    display: block;
    float: right;
    filter: drop-shadow(0 0 0.75rem var(--ac-shadow));
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.avi {
    background: url("https://github.com/unlwly.png?size=240") center/contain no-repeat;
    height: 7.5em;
    width: 7.5em;
    display: block;
    float: left;
    filter: drop-shadow(0 0 0.75rem var(--ac-shadow));
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.al {
    filter: grayscale(100%) contrast(1.7);
    width: 24.5em;
    height: 8.5em;
    margin: auto;
    margin-bottom: 0.75em;
    border-bottom: solid 2px var(--tx-st);
    opacity: 0.95;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/* ーーーーーーーーーーーーーーーーーー
socials
ーーーーーーーーーーーーーーーーーー */

.socials {
    list-style-type: none;
    display: inline-flex;
    margin: auto;
    position: relative;
    gap: 1.3rem;
    height: 1.5em;
    text-align: center;
}
.socials>li>a {
    text-decoration: none;
}
.socials>li {
    height: max-content;
    display: inline-block;
}

.icon-social {
    line-height: 1;
    position: relative;
    font-size: 16pt;
    color: var(--tx-normal);

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.icon-social:hover {
    color: var(--ac);
    text-shadow: 0 0 17px var(--ac-dark);
}


.si { /*consistent alignment with bootstrap icons*/
    vertical-align: -.125em;-webkit-font-smoothing: antialiased;display: inline-block;
}

/* ーーーーーーーーーーーーーーーーーー
backgrounds
ーーーーーーーーーーーーーーーーーー */

.bg-no1 {
    background: linear-gradient( rgba(0,0,0,.35), rgba(0,0,0,.35) ),url("../Scene-by-Nikolai-Lockertsen.webp"),var(--bg) center/cover no-repeat fixed;
    background-size: cover !important;
}

/* ーーーーーーーーーーーーーーーーーー
sections
ーーーーーーーーーーーーーーーーーー */

.sec {
    margin-top: 2em;
    margin-bottom: 2em;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.sec-bnr {
    color: var(--bg);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em 2em 1em 2em;
    margin-top: 1em;
    display: block ruby;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
.sec-bnr>h1 {width: 100%;}
.kao {float: right;}
.sec-bio {
    margin: 0 1.5em 0 0.5em;
    padding-left: 1em;
    text-align: justify;
    border-left: solid 3px var(--ac-t);
}
.sec-skills {
    pointer-events: none;
    text-align: center;
}
.sec-skills>ul, .sec-skills>ul>li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 26pt;
    user-select: none;
    filter: brightness(110%);
}
.sec-time {
    margin: 1em auto 0 auto;
    width: max-content;
    min-height: 4.75em;
}
.clock-aside {
    float: left;
    line-height: 2.9em;
    margin-right: 0.4em;
    font-weight: bolder;
    padding-left: 0.1em;
}
.clock-time {
    float: right;
    margin-left: 0.4em;
    font-size: 26pt;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: brightness(300%);
}

/* ーーーーーーーーーーーーーーーーーー
nav
ーーーーーーーーーーーーーーーーーー */

header {
    display:block;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.nav-trigger{
    background: none;
    border: none;
    color: var(--tx-normal);
    display: block;
    left: 0;
    letter-spacing: .125em;
    outline: none !important;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    top: 36px;
    z-index: 99;
    -webkit-transform:translate(20px, -50%);
    -webkit-transform-origin:left top;
    transform: translate(20px, -50%);
    transform-origin: left top;
    font-size: xx-large;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.nav{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .5s ease;
    -webkit-transform:translateX(-100%);
    -webkit-transform-origin:left top;
    transform: translateX(-100%);
    transform-origin: left top;
}
.nav .nav-close{
    background: rgba(0, 0, 0, 0.925);
    border: none;
    border-bottom: 1px solid var(--tx-st);
    border-left: 1px solid rgba(0, 0, 0, 0.925);
    border-right: 1px solid var(--tx-st);
    color: var(--tx-normal);
    display: block;
    height: 68px;
    font-size: 30px;
    font-weight: 200;
    line-height: 45px;
    outline: none !important;
    padding: 11px 0 19px;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 11;
    transition: all .2s ease-in-out;
}
.nav .nav-close:hover{
    color: var(--ac);
}
.nav .nav-wrapper{
    background: rgba(0, 0, 0, 0.925);
    border-right:1px solid var(--tx-st);
    bottom:0;
    left:0;
    padding: 75px 30px;
    overflow: scroll;
    position: absolute;
    top: 0;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    z-index: 10;
}
.nav-wrapper::-webkit-scrollbar:vertical {width:5px}
.nav-wrapper::-webkit-scrollbar:horizontal {width:0px}
.nav .nav-wrapper ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav .nav-wrapper ul li{
    margin-bottom: 20px;
    position: relative;
}
.nav .nav-wrapper ul li:first-child{
    color: var(--ac);
}
.nav .nav-wrapper ul li a{
    border-left: 3px solid var(--tx-normal);
    color: var(--tx-normal);
    display: block;
    font-size: .85em;
    letter-spacing: .075em;
    padding: 15px 0 15px 20px;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all .2s linear;
    letter-spacing: 0.175em;
}
.nav .nav-wrapper ul li a:hover{
    border-color: var(--ac);
    color: var(--ac);
}
.nav .nav-wrapper ul li a:hover{
    color: var(--ac);
}
.nav .nav-wrapper ul li a{
    color: var(--tx-normal);
    display: block;
}
body.nav-visible{
    overflow: hidden;
}
body.nav-visible .nav{
    -webkit-transform:translateX(0);
    -webkit-transform-origin:left top;
    transform: translateX(0);
    transform-origin: left top;
    backdrop-filter: blur(5px) brightness(70%);
    -webkit-backdrop-filter: blur(5px) brightness(70%);
}

/* ーーーーーーーーーーーーーーーーーー
responsive css
ーーーーーーーーーーーーーーーーーー */

@media (min-width: 782px) {
    .nav .nav-close {
        right: initial;
        left: 306px;
    }
    .nav .nav-wrapper {
        right: calc(100% - 308px);
    }
}

@media (max-width: 782px) {
    .al {width: 16.5em;height:6em;}
    .logo {width:11em;height:5em;}
    .avi {width: 5em;height:5em;}

    .nav .nav-close {
        right: 0;
        left: initial;
    }
    .nav .nav-wrapper {
        right: 68px;
    }
}

@media (max-width: 620px) {.sec-bnr>h1 {font-size: 20pt;}}
@media (max-width: 520px) {
    .kao {float: none;display:block;}
    .sec-bnr>h1 {text-align: center;}
    .sec-skills>ul, .sec-skills>ul>li {
        font-size: 16pt;
    }
}

@media (max-width: 350px) {
    .al {
        border: none;
        height: 15em;
        width: max-content;
    }
    .avi {
        transform: none;
        margin: auto;
        float: none;
        width: 10em;
        height: 10em;
    }
    .logo {
        transform: none;
        margin: auto;
        float: none;
        width: 10em;
        opacity: 0.5;
        margin-top: 0.2em;
    }
    .socials {
        gap: 0.5em;
    }
    .sec-time, .sec-skills {
        display: none;
    }
    .sec-bnr {
        padding: 0.5em;
    }
    .quote-text {
        display: none;
    }
}