@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://cdn.jsdelivr.net/npm/simple-icons-font@8.3.0/font/simple-icons.min.css');

:root {
    --bg: rgb(12, 12, 12);
    --bg-st: rgba(12, 12, 12, 0.6);
    --ac: rgb(78, 35, 53);
    --ac-d: rgba(112, 58, 67, 0.75);
    --ac-st: rgba(153, 86, 97, 0.75);
    --ac-shadow: rgba(29, 1, 7, 0.65);
    --tx-grad: linear-gradient(90deg,#f07484 3%,#914b54 105%);
    --tx: rgb(247, 247, 247);
    --tx-st: rgba(247, 247, 247, 0.63);
    --tx-muted: rgb(91, 91, 94);
    --tx-ebg: rgba(100, 100, 100, 0.15);
    --tx-ebg-m: rgba(100, 100, 100, 0.35);
}

html {width: 100%;height: 100%;cursor: default;}
body {
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1.1em;
    color: var(--tx);
    margin: auto;
    /*
    background: url("https://images.unsplash.com/photo-1470432581262-e7880e8fe79a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"),var(--bg) center/cover no-repeat;
    background-size: cover !important;
    */
    background-color: var(--bg);
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    backdrop-filter: blur(0.5em);
    padding: 0.5em;
    pointer-events: none;
    color: var(--tx-st);
}

footer p, ul {
    margin: 0;
    padding: 0;
}

section {
    padding:1rem;
}

::selection {background: var(--ac-st) !important;}

.center-v {
    transform: translate(0, -50%);
    top: 50%;
    position:absolute;
}
.center-h {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-text {
    text-align: center;
}

.luw {
    font-size: 80pt;
    font-weight: bold;
    text-align: center;
}

.postttl{
    font-size: 50pt;
    font-weight: bold;
    margin: 0.75em 0;
    line-height: 1;
}

.si {vertical-align: -.125em;-webkit-font-smoothing: antialiased;display: inline-block;}

.socials {
    list-style-type: none;
    margin: auto;
    position: relative;
}
.socials a {
    text-decoration: none;
}
.socials p {
    height: max-content;
    margin: 0;
    padding: 0.5em 1em;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}
.label-social {
    padding-right: 2em;
}
.social-link p span:first-child {
    float: right;
}
.social-link:hover p {
    background: var(--ac-st);
}
.social-link:hover p span:first-child {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='24' viewBox='100 100 960 960' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M180 936q-24 0-42-18t-18-42V276q0-24 18-42t42-18h279v60H180v600h600V597h60v279q0 24-18 42t-42 18H180Zm202-219-42-43 398-398H519v-60h321v321h-60V319L382 717Z' fill='currentColor' /%3E%3C/svg%3E");
    mask-repeat: no-repeat;
}
.social-link {
    line-height: 1;
    position: relative;
    font-size: 16pt;
    color: var(--tx);

    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}
.social-link:hover {
    color: var(--ac);
    text-shadow: 0 0 2px var(--ac-d);
}

.highlight-hover {
    transition: filter .4s ease-out;
}
.highlight-hover:hover {
    filter: brightness(200%);
}

.spec-heading {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px var(--tx);
    color: var(--tx);
    margin-bottom: 0.05rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 36pt;
    font-weight: bold;
}

.gradient-txt {
    -webkit-text-fill-color: transparent;
    background: var(--tx-grad);
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    user-select: none;
    text-decoration: none;
}

a {
    color: var(--tx);
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
    background-color: var(--bg-st);
    backdrop-filter: blur(1.5em) brightness(30%);
}

@media screen and (min-width: 783px) { /*bigger screen*/

}
@media screen and (max-width: 783px) { /*small screen*/

}

section {
    flex-basis:0;
    flex-grow:999;
    min-width:70%;
    display:flex;
    flex-direction:column;
}

.bio {
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}
.bio p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.quote {
    opacity: 0.7;
    text-align: center;
    margin: 1em auto;
    pointer-events: none;
    user-select: none;
    max-width: 12em;
}

.time {
    font-weight: 200;
}

* {scrollbar-color: var(--tx-muted) transparent;}
::-webkit-scrollbar,::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
    background: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--tx-muted);
    -webkit-border-radius: 10em;
}
::-webkit-scrollbar-thumb:active {background: var(--tx);}