@import url('/assets/css/texgyreheros.css');

:root {
    --bg: rgb(0, 0, 0);
    --bg-st: rgba(27, 27, 27, 0.6);
    --ac: rgb(255, 189, 216);
    --ac-d: rgba(112, 58, 67, 0.75);
    --ac-st: rgba(153, 86, 97, 0.39);
    --ac-shadow: rgba(29, 1, 7, 0.65);
    --tx-grad: linear-gradient(90deg,#f07484 3%,#914b54 105%);
    --tx: rgb(247, 247, 247);
    --tx-st: rgba(247, 247, 247, 0.63);
    --tx-muted: rgb(91, 91, 94);
    --tx-ebg: rgba(100, 100, 100, 0.15);
    --tx-ebg-m: rgba(100, 100, 100, 0.35);
}

body {
    font: 10pt/1.231 'Helvetica Neue',Helvetica,Arial,'TexGyreHeros',sans-serif;
    text-rendering: optimizeLegibility;

    margin: 0 auto;
    color: var(--tx);
    background-color: var(--bg);
    cursor: default;
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 9pt;
    pointer-events: none;
    color: var(--tx-st);
}

section {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

section[role="404"] {
    text-align: center;
    align-items: center;
    justify-content: center;
}
section[role="landing"] {
    align-items: center;
    justify-content: center;
}

a {
    color: var(--tx);
    text-decoration-skip-ink: auto;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: auto;
    padding: 0 1rem;
    background-color: var(--bg);
    height: 100vh;
}

@media screen and (min-width: 2083px) { /*bigger screen*/
    body {
        font-size: 15pt;
    }
}
@media screen and (max-width: 250px) { /*small screen*/
    .socialIcon {
        display: none;
    }
    .socialLabel {
        padding: 0 !important;
    }
    .socialLink {
        text-align: center;
    }
}

::selection {background: var(--ac-st) !important;}

.socials {
    list-style-type: none;
    margin: 0 auto;
    position: relative;
}

.socials p {
    height: max-content;
    margin: 0;
    padding: 0.25em 1em;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.socialLabel {
    padding-right: 1.5em;
}

.socialIcon {
    float: right;
}

.socialLink:hover p {
    background: var(--ac-st);
}

.socialLink:hover .socialIcon {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='24' viewBox='100 100 960 960' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M180 936q-24 0-42-18t-18-42V276q0-24 18-42t42-18h279v60H180v600h600V597h60v279q0 24-18 42t-42 18H180Zm202-219-42-43 398-398H519v-60h321v321h-60V319L382 717Z' fill='currentColor' /%3E%3C/svg%3E");
}

.socialLink {
    position: relative;
    font-size: 16pt;
    color: var(--tx);

    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.socialLink:hover {
    color: var(--ac);
    text-shadow: 0 0 2px var(--ac-d);
}

.highlightOnHover {
    transition: filter .4s ease-out;
}

.highlightOnHover:hover {
    filter: brightness(200%);
}

.bigTitle {
    font-size: 23pt;
}

.styledTitle {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px var(--tx);
    color: var(--tx);
    margin-bottom: 0.05rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 36pt;
    font-weight: bold;
}

.gradientText {
    -webkit-text-fill-color: transparent;
    background: var(--tx-grad);
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    user-select: none;
    text-decoration: none;
}

.bio {
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}

.bio p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.quote {
    opacity: 0.7;
    text-align: center;
    margin: 1em auto;
    pointer-events: none;
    user-select: none;
    max-width: 12em;
}

p.myTime {
    margin: 2em;
    text-align: center;
}

* {scrollbar-color: var(--tx-muted) transparent;}
::-webkit-scrollbar,::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
    background: var(--bg);
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--tx-muted);
    -webkit-border-radius: 10em;
}
::-webkit-scrollbar-thumb:active {background: var(--tx);}